*{
  margin: 0;
  overflow: auto;
 
  
}
.main{
  height:80vh;
  width: 80vw;
  background-color: white;
  margin-right: 10vw;
  margin-left: 10vw;

 
  display: flex;
  
}

aside{
  flex : 1;
  border: solid 1px grey;
  overflow: auto;
  
  
}

section{
  flex:5;
  border: solid 1px grey;
  

}

#Header{
  width: 100vw;
}

#Header > aside {
  border: none;
  margin-right: 10vw;
  margin-left: 10vw;
  
}
#Header > aside >nav{
  border : solid 2px grey;
}
